@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

html,
body,
#root,
.App {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	font-family: "MuseoModerno", cursive;
}

.App {
	text-align: center;
  display: flex;

	svg {
		height: 100%;
	}
}

.loginForm {
  background: rgb(248,116,138);
  background: linear-gradient(21deg, 
    rgb(255, 163, 178) 0%, 
    rgba(255,233,236,1) 48%, 
    rgba(255,255,255,1) 100%);
	width: 100%;
  display: flex;
  height: 100vh;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
  align-items: center;


	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
	}

	input {
		width: 25%;
		border-radius: 20px;
		border: none;
    border-bottom: 2px rgb(248, 116, 138) solid;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 5px;
    height: 35px;
	}

	button {
    width: 10%;
    cursor: pointer;
    
    &:hover {
      background-color: white;
      color: black;
      transition: 0.4s ease;
    }
  }
  
}

.bubbleDecor {
  position: absolute;
  bottom: 0;
  right: 0;

  svg {
    height: 10%;
  }
}

.spacer {
	height: 2%;
}

.bubble-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255,255,255);
  background: radial-gradient(circle, 
    rgba(255,255,255,1) 0%, 
    rgb(212, 254, 255) 49%, 
    rgb(232, 241, 243) 100%);
	margin: 0 auto;
	display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.colors-wrap {
  background: rgb(248,116,138);
  background: linear-gradient(360deg, 
    rgb(255, 163, 178) 0%, 
    rgba(255,233,236,1) 48%, 
    rgba(255,255,255,1) 100%);
	height: 100%;
  width: 300px;
  border-right: solid 2px rgb(255, 147, 156);
  box-shadow: 0 3px 6px 
    rgba(0, 0, 0, 0.16), 0 3px 6px 
    rgba(0, 0, 0, 0.23);

	ul {
		list-style: none;
		text-align: start;

		li {
			cursor: pointer;
			padding: 6px 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
}

.delete {
	color: rgb(216, 87, 87);
}

.color-box {
	height: 16px;
	width: 16px;
	border: 1px lightgray solid;
	margin-right: 36px;
}

form {
	margin-top: 60px;
	display: flex;
	flex-direction: column;

	legend {
		padding-left: 40px;
		font-weight: bold;
		text-align: left;
		text-decoration: underline;
		margin-bottom: 16px;
	}

	label {
		display: flex;
		justify-content: space-between;
		padding: 4px 36px 4px 40px;
	}

	input {
		width: 100px;
	}
}

.button-row {
	display: flex;
	justify-content: space-between;
	padding: 0 36px 0 41px;
}

button {
	border: none;
	background-color: black;
	color: white;
	padding: 3px 8px;
  margin-top: 16px;
  border: black 1px solid;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    transition: 0.4s ease;
  }
}

.signout {
	width: 200px;
	background: rgb(255, 128, 227);
	background: linear-gradient(
		180deg,
		rgba(255, 128, 227, 1) 0%,
		rgba(255, 87, 102, 1) 67%
  );
  
  border-radius: 30px;
	margin: 0 auto;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
  margin-top: 5px;
  
  &:hover {
    border-radius: 0;
    color: white;
    transition: 0.3s ease;
  }
}
